.wrapper {
 width: 100%;
 height: 100%;
}

.main {
  background-color: green;
}

.asideone {
  background-color: black;
  width: 60%;

}
.asidetwo {
  background-color: orange;
  width: 35%;
}
footer {
  background-color: red;
  height: 200px;
}
